html,
body,
body * {
  font-family: "Inter", sans-serif !important;
}

/* Increase specificity to override Vuetify's styles */
body .v-application .v-application--wrap * {
  font-family: "Inter", sans-serif !important;
}

.zoom-on-hover {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.sticky-video {
  position: sticky;
  top: 0;
  z-index: 100;
}

.fit-video {
  width: 100%;
  height: auto;
  display: block;
}
